html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.flexer{
display:flex;
height: 100%;

}




.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
    width: 120px;
    height: 100%;
   background-color: dimgrey;
   color: white;
   display: inline-block;
   margin: 5px
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 80px;
    display: inline-block;
    background-color: dodgerblue;
    color: black;
    height: 20%;
    margin: 5px;
border-radius: 10px;
    
}

.main{
    background-color:blue;
    color: black;
    height: 80%;
    margin: 5px;
    border-radius: 10px;
  
    

    

}

a{
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

